---
title: Test-Driven Development for Ontologies
---

.jumbotron.primary
  .container
    %h1
      TDDON
      %small.clearfix Realising Test-Driven	Development	of Ontologies
    %hr
    %p A UCT Computer Science Honours Project
    %p
      By
      = link_to 'Ameerah Allie', 'http://people.cs.uct.ac.za/~allame002'
      and
      = link_to 'Kieren Davies', 'http://kdavi.es/'
    %p
      %small
        Supervised by
        = link_to 'Maria Keet', 'http://www.meteck.org/'

.container
  Stuff goes here.
